<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AHAH Bien fait !</title>
  </head>
  <body>
    <h1>Oops! tu t'es fait ****</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <div>
      test de la page d'erreur !
    </div>
  </body>
</html>