	 <li class="dropdown">	 
		<select class="selectclient">
		<option disabled="disabled" selected="selected" value>Liste des clients</option>
		{% for client in listClients %}
		<option value="{{ client.id }}">{{ client.name|capitalize }}</option>
		{% endfor %}
		</select>
	</li>

	<li class="dropdown">	 
		<select class="selectcontact">
		<option disabled="disabled" selected="selected" value>Liste des contacts</option>
		{% for contact in listContacts %}
		<option value="{{ contact.client.id }}">{{ contact.name|capitalize }}</option>
		{% endfor %}
		</select>
	</li>
