<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-list"></span> Liste des clients <span class="caret"></span>
	</a>
    <ul class="dropdown-menu scrollable-menu">
	    {% for client in listClients %}
	      <li>
	        <a href="{{ path('tg_client_view', {'id': client.id}) }}">{{ client.name|capitalize }}</a>
	      </li>
	     {% endfor %}
     </ul>
 </li>
 <li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="glyphicon glyphicon-list"></span> Liste des contacts <span class="caret"></span>
	</a>
    <ul class="dropdown-menu scrollable-menu">
	    {% for contact in listContacts %}
	      <li>
	        <a href="{{ path('tg_client_view', {'id': contact.client.id}) }}">{{ contact.name|capitalize }}</a>
	      </li>
	     {% endfor %}
     </ul>
 </li>
