{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for client in listClients %}
    <li>
      <a href="{{ path('tg_client_view', {'id': client.id}) }}">
        {{ client.name|capitalize }}
      </a>
    </li>
  {% endfor %}
</ul>
