<form action="{{ path('tg_admin_recette') }}" method="post">
<p>
	<font size="2">
       <label for="recette">Envoyer un rapport de bug :</label>
       <br />
       
       <textarea name="recette" id="recette" rows="3" cols="50"></textarea>       
   </font>
   </p>
    <input type="submit" value="Envoyer" class="btn btn-primary" />
</form>
