<div id="chat-div" style="height:300px;padding=0px;background-color:#05BAC3;border:1px solid #C30505;border-radius:4px;box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);position:relative;">
	<div>
		<h4 id="chat-titre" style="margin:0px;text-align:center;">Chat</h4>
	</div>
	<div id="chat-contenu" style="height:240px;" >
	Espace
	Réservé
	au
	chat
	</div>
	<form action="#" method="post">
        <input type="text" id="message" size="13" style="margin-left:3px;" >
        <button type="submit" id="envoyer" class="btn">ok</button>
      </form>
</div>