{# On étend notre layout #}
{% extends "::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, messages in app.session.flashbag.all() %}
  	{% for message in messages %}
    	<div class="alert alert-{{ key }}">
      		{{ message|trans({}, 'FOSUserBundle') }}
    	</div>
    {% endfor %}

  {% endfor %}

   <h2>Réalisations récentes</h2><br/>
   <div class="well">
   <img class="img-rounded" width="33%" src="http://localhost/Symfony/web/bootstrap/images/real3.jpg" alt="Dernières réalisations" />
   <img class="img-rounded" width="33%" src="http://localhost/Symfony/web/bootstrap/images/real1.jpg" alt="Dernières réalisations" />
   <img class="img-rounded" width="33%" src="http://localhost/Symfony/web/bootstrap/images/real2.jpg" alt="Dernières réalisations" />
 </div>

  {# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
  {% block fos_user_content %}
  {% endblock fos_user_content %}

{% endblock %}